<!-- 
 *ngIf="hadoopStatus else loading" 
 *ngIf="hadoopStatus.status != 'error' else noConnection"
 -->
<ng-container>
    <ng-container>
        <app-spinner [isVisible]="showSpinner" message="Wait Please..."></app-spinner>
        <app-alert-message [isVisible]="showAlertMessage" [alertType]="alertType" [message]="alertMessage"
            (toggleVisibility)="toggleAlertMessage()">
        </app-alert-message>
        <div class="custom-container">
            <div class="row g-4">
                <!-- Cluster -->
                <div class="col-6">
                    <div class="card bg-body-tertiary h-100 shadow-sm">
                        <div class="card-body text-center">
                            <h4 class="fw-bold mb-4">Cluster</h4>
                            <div class="d-flex justify-content-around flex-wrap">
                                <div class="mb-3">
                                    <span class="fw-medium me-2">Hadoop:</span>
                                    <button (click)="toggleHDFS()" class="btn"
                                        [ngClass]="hdfsBtnTxt === 'Start' ? 'btn-success' : 'btn-danger'">
                                        {{ hdfsBtnTxt }}
                                    </button>
                                </div>
                                <div class="mb-3">
                                    <span class="fw-medium me-2">YARN:</span>
                                    <button (click)="toggleYarn()" class="btn"
                                        [ngClass]="yarnBtnTxt === 'Start' ? 'btn-success' : 'btn-danger'">
                                        {{ yarnBtnTxt }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- HDFS Operations -->
                <div class="col-6">
                    <div class="card h-100 bg-body-tertiary shadow-sm">
                        <div class="card-body text-center">
                            <h4 class="fw-bold mb-4">HDFS Operations</h4>
                            <div class="d-flex justify-content-around flex-wrap">
                                <div class="mb-2">
                                    <button routerLink="/ops/files-ops" class="btn btn-warning w-100">Files
                                        Operations</button>
                                </div>
                                <div class="mb-2">
                                    <button routerLink="/ops/dirs-ops" class="btn btn-warning w-100">Directory
                                        Operations</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Jobs -->
            <div class="row mb-4 mt-4">
                <div class="col text-center">
                    <h3 class="fw-bold">MapReduce Jobs</h3>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-md-4 col-sm-6" *ngFor="let job of jobs">
                    <div class="card bg-body-secondary h-100 shadow-sm">
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ job.title }}</h5>
                            <p class="card-text text-muted">{{ job.description }}</p>
                            <button 
                                [routerLink]="['/ops/jobs',job.id,{'job':job.title}]" 
                                class="btn btn-primary mt-3 w-100">
                                    <i class="bi bi-arrow-right-short"></i> Submit Job
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</ng-container>
<ng-template #loading>
    <div class="text-center">
        <div class="my-modal-content">
            <div><strong>Getting Status...</strong></div>
            <div class="_spinner spinner-border text-primary" role="status"></div>
        </div>
    </div>
</ng-template>
<ng-template #noConnection>
    <div class="custom-container">
        <div class="alert alert-warning">
            Failed to connect to remote server!! Try Again....
        </div>
    </div>
</ng-template>