/* You can add global styles to this file, and also import other style files */
.custom-container{
    width: 100%;
}


@media (min-width:800px) {
    .custom-container{
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}

.custom-container-2{
    width: 100%;
}


@media (min-width:1000px) {
    .custom-container-2{
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
}