<div class="position-relative">
  <input
    class="form-control"
    type="text"
    [placeholder]="placeholder"
    [(ngModel)]="inputValue"
    (input)="onInputChange()"
    (focus)="onFocus()"
    (blur)="hideSuggestions()"
    autocomplete="off"
    />

    <!-- Suggestions Dropdown -->
    @if (showSuggestions && filteredSuggestions.length > 0) {
      <ul
        class="list-group position-absolute w-100 z-2 my-list"
        >
        @for (suggestion of filteredSuggestions; track suggestion) {
          <li
            class="list-group-item list-group-item-action"
            (mousedown)="selectSuggestion(suggestion)"
            >
            {{ suggestion }}
          </li>
        }
      </ul>
    }
  </div>
